.header {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  padding-top: 6.5px;
  text-align: center;
  margin: 0 auto 13.5px;
  width: 100%;
  max-width: 20rem;
}
